.Block {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 35px;
    margin-bottom: 30px;
    padding-right: 58px;
    background: #ffffff;
    box-shadow: 0px 15px 80px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    transition: all 0.2s;
    &:hover {
        transform: scale(1.04, 1.04);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
}

.Content {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.LeftContent {
    display: flex;
}

.OrderNumberWrp {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 109px;
    width: 109px;

    background-color: #77b5fe;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.28);
    border-radius: 22px;
}

.orderNumber {
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    text-transform: lowercase;

    color: #ffffff;
}

.Description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;

    margin-left: 48px;
}

.Title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 19px;

    color: #000000;
}

.SubTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;

    color: #000000;

    opacity: 0.4;
}

.RightIcon {
    align-self: center;
}
